---
---

main{
  .jumbotron {
    background-image: url('/images/background-1200.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    border-radius: 0;

    img {
      height: 300px;
    }
  }
}