<footer class="text-center bg-dark text-light pt-3">
    <div class="container">
        <div class="row">
            <div class="col-md-4">

            </div>
            <div class="col-md-4">
                <a href="/">
                    <img src="/images/me-small.png" alt="Picture of Brett Sheleski (small)" class="rounded-circle" />
                </a>
                <br />
                &copy; Brett Sheleski
            </div>
            <div class="col-md-4 text-right">
                <a href="https://github.com/BrettSheleski" target="_blank" rel="nofollow noopener">
                    <img src="/images/GitHub-Mark-Light-32px.png" alt="GitHub Mark Light" />           
                </a>
            </div>
        </div>
    </div>
</footer>