<div class="card card-github-gist">
    <div class="card-header">
        <div class="row">
            <div class="col-md-10">
                <a href="https://gist.github.com/{{ include.id }}">
                    https://gist.github.com/{{ include.id }}
                </a>
            </div>
            <div class="col-md-2 text-center text-md-right">
                <a href="https://gist.github.com/{{ include.id }}" target="_blank" rel="nofollow noopener" title="Open on GitHub">
                    <img src="/images/GitHub-Mark-32px.png" alt="GitHub Mark Light" />           
                </a>
            </div>
        </div>
        
    </div>
    <script src="https://gist.github.com/{{ include.id }}.js"></script>
</div>