.intro-header{
    color: white;
    min-height: 400px;
    background-image: url('../img/home-bg.jpg');
    background-size: cover;
    background-position: center;
}

.intro-header .site-heading{
    margin-top: 150px;
}
