html {
  min-height: 100%;
  position: relative;
}
body {
  margin-bottom: 100px;
}
footer {
  height: 100px;
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 0;
}
main .jumbotron {
  background-image: url('/images/background-1200.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
}
main .jumbotron img {
  height: 300px;
}
